div#me-react-container {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    padding-top: 2rem;
    padding-bottom: 6rem;
    background: #2fa2a2;
    background: linear-gradient(125deg, #2fa2a2 4%, #288686 89%);
    color: var(--whiteColor) !important;
}

div#center-col-me-react {
    text-align: center;
}

div#me-react-text {
    margin-bottom: 3.2rem;
}

div#me-react-text h2, div#me-react-text p {
   color: var(--whiteColor);
}

div#project-me-react {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 2.1rem;
  grid-row-gap: 2rem;
}


/* Medium devices (tablets, less than 992px) */
@media (max-width: 991px) {
  div#project-me-react  {
      grid-template-columns: 1fr 1fr;
  }

}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
  div#project-me-react  {
      grid-template-columns: 1fr;
  }
}
