body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #343a40;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style-type: none;
}

a {
  color: #f99a00;
  text-decoration: none !important;
}

a:hover {
  color: #f99a00;
}

p {
  font-size: 1.3rem;
}

button:focus {
  outline: none;
}

#profile-img {
  background: #ffffffa3;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.header-bg {
  height: 100vh;
  background: #343a40;
  padding-top: 5rem;
  color: #ffffffbf;

}

#nav {
  background-color: #2b3034;
}

#nav a {
  margin-right: 12px;
  color: #ffffffbf !important;
  font-weight: 500;
}

#nav a:hover {
  color: white !important;
}

#nav span {
  color: #ffffffbf !important;
}

#nav span:hover {
  color: white !important;
}




.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
  color: white;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.jumbos {
  background: none;
  text-align: center;
}

#hero-greeting {
  margin-bottom: 15px;
  font-size: 2rem;
}

#hero-text {
  font-size: 1.5rem;
}

#para-shrt-txt1 {
  font-size: 1.8rem;
  font-style: italic;
  color: #343a40d9;
}

#para-shrt-txt2 {
  font-size: 1.5rem;
  color: #ffffffa3;
}

#jumbo-shrt-txt1 {
  padding: 4.5rem 0 3rem 0;
}

.col-works-grid {
  padding: 0;
  flex: 33.3333333%;
  max-width: 33.3333333%;
  padding: 0 12px 20px 12px;
}

.col-personal-works-grid {
  padding: 0;
  flex: 25%;
  max-width: 25%;
  padding: 0 12px 20px 12px;
}

.col-works-luxus {
  padding: 0;
  flex: 50%;
  max-width: 50%;
  padding: 0 12px 20px 12px;
}

.col-works-grid h5, .col-works-luxus h5, .col-personal-works-grid h5  {
  font-weight: 900;
}

.skills-circles {
  height: auto;
  border-radius: 50%;
  position: relative;
  border: 1px solid #343a40;
}

#skills-c1 {
  width: 90%;
  padding-top: 90%;
}

#skills-c2 {
  width: 65%;
  padding-top: 65%;
  background: #343a40;
}

#skills-c3 {
  width: 100%;
  padding-top: 100%;
  background: #343a40;
}

#skills-c4 {
  width: 70%;
  padding-top: 70%;
}

#skills-c5 {
  width: 70%;
  padding-top: 70%;
  background: #343a40;
}

#skills-c6 {
  width: 80%;
  padding-top: 80%;
  background: #343a40;
}

#skills-c7 {
  width: 85%;
  padding-top: 85%;
}

#skills-c8 {
  width: 65%;
  padding-top: 65%;
  background: #343a40;
}

#skills-c9 {
  width: 70%;
  padding-top: 70%;
}

#skills-row-1 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#skills-row-2 {
  margin-bottom: 3rem;
}

#jumbo-skills-heading {
  padding: 4rem 0 0 0;
}

.text-skill-circle {
  font-weight: 500;
  font-size: 1.5rem;
  position: absolute;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-skill-circle-light {
  color: white;
}

.jumbo-works {
  text-align: center;
  border-radius: 0;
  margin-bottom: 0;
  padding-bottom: 30%;
  padding-top: 30%;

  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;

  /* border: 1px solid #00000040; */

}

.container-grey-bg {
  background: #f6f6f6bf;
}

.padding-row-works {
  padding-bottom: 4rem;
}

.jumbo-works-color-1 {
  box-shadow: inset 0 0 0 100rem rgba(34, 62, 112, 0.9);
}

.jumbo-works-color-2 {
  box-shadow: inset 0 0 0 100rem rgba(21, 34, 45, 0.9);
}

.jumbo-works:hover {
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 100rem rgba(220, 53, 69, 0.9);
}

.text-jumbo-works {
  opacity: 0;
  transition: 0.5s ease-in-out;
  color: white;
}

.jumbo-works:hover .text-jumbo-works {
  opacity: 1;
}

.headings-works {
  font-size: 2.4rem;
  font-weight: 700;
  color: #5b5a5a;
  margin-bottom: 2rem;
}

.container-dark {
  background: #343a40 !important;
  color: #ffffffa3 !important;
}

#row-another-txt {
  padding: 2rem 0 0 0;
}


/* WORK DETAILS COMPONENT STYLE  */

#hero-work-details-row {
  margin-top: 4rem;
}

#hero-work-details-row h2 {
  padding: 1rem 0 1rem 0;
}

#hero-work-details-row p {
  font-size: 1.1rem;
  font-weight: 500;
  color: #343a40b5;
}

#hero-work-details-row h1 {
  margin-bottom: 1.3rem;
}

#technologies {
  font-weight: 700;
  color: #36373894;
}

#ul-technologies {
  margin: 1.3rem 0 1.5rem 0;
  padding: 0 0 0 5px;
  font-weight: 500;
}

.rows-screenshots-works {
  margin-bottom: 2rem;
}

.col-screenshots-works {
  padding: 8px;
  border: 1px solid #00000021;
}

.jumbos-hero-work-details {
  background: none;
  padding-bottom: 0;
  margin-bottom: 1.5rem;
}

#jumbo-technologies {
  border-top: none;
}


/* PROJECT NOT FOUND ERROR   */

#jumbo-error-msg {
  text-align: center;
}

#container-error-msg {
  padding-top: 4rem;
}

#row-go-back-btn {
  margin-top: 1rem;
}

/* ABOUT  */

#col-bg-about {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
}

#para-about {
  font-size: 1.4rem;
}

#jumbo-about-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 0;
  padding-bottom: 30%;
  padding-top: 30%;
  border-radius: 50%;
  display: none;
}

#jumbo-para-about {
  padding-top: 2rem;
}

#about-heading {
  color: #ffffffa3 !important;
}


/* REACT SECTION */

#para-react {
  font-size: 1.6rem;
  color: #5b5a5a;

}

#row-react {
  padding-bottom: 6rem;
}

#heading-react {
  color: #ffffffa3;
}

#jumbo-react {
  padding-bottom: 2rem;
}


/* CONTACT  */

#row-contact-form {
  padding: 3.5rem 0;
}

#jumbo-contact-heading {
  padding: 4rem 0 0 0;
  margin: 0;
}






/***** MEDIA QUERIES *****/

/* WORKS GRID Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 950px) {
  .col-works-grid {
    flex: 50%;
    max-width: 50%;
  }

  .col-works-luxus {
    flex: 100%;
    max-width: 100%;
  }

  .col-personal-works-grid {
    flex: 50%;
    max-width: 50%;
  }
}

/* WORKS GRID Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-works-grid {
    flex: 100%;
    max-width: 100%;
  }

  .col-personal-works-grid {
    flex: 100%;
    max-width: 100%;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {

  #hero-greeting {
    font-size: 1.4rem;
  }

  #hero-text {
    font-size: 1.1rem !important;
  }

  .jumbo-worker h1, .jumbo-student h1 {
    font-size: 1.6rem;
  }

  #para-shrt-txt1 {
    font-size: 1.4rem;

  }

  #skills-c1, #skills-c2, #skills-c3, #skills-c4,
  #skills-c5, #skills-c6, #skills-c7, #skills-c8, #skills-c9 {
    width: 100%;
    padding-top: 100%;
  }

  #ooj {
    display: none;
  }



}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767px) {

  #jumbo-technologies {
    border-top: 1px solid #00000054;
  }

  #hero-greeting {
    font-size: 1.5rem;
  }

  #hero-text {
    font-size: 1.3rem;
  }

  .text-skill-circle {
    font-size: 0.9rem !important;
  }


}


/* Large devices (desktops, less than 1200px) */
@media (max-width: 950px) {

  #jumbo-about-img {
    display: block;
  }

  #col-bg-about {
    background-image: none !important;
  }

  .text-skill-circle {
    font-size: 1.2rem;
  }


}
